<!DOCTYPE>
<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div>
			<h1>GTFS Feed Validator</h1>
		</div>
		<form class="form">
			<div class="form-group">
				<label for="feedurl">Enter URL</label> <input type="text" class="form-control" name="feedurl" id="feedurl" value="{{feedurl}}"
					placeholder="http://example.com/gtfs.zip">
			</div>
			<button type="submit" class="btn btn-success">Submit</button>
		</form>
	    {% if error %}
	    <div class="alert alert-warning" role="alert">{{error}}</div>
	    {% endif %}
		{% if results %}
		<h2>Results</h2>
		{{results|	safe}} {% endif %}
	</div>
	<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>